{% extends 'main/base.html' %}

{% block hat %}
<div style="margin-bottom: 60px"><h1>О нас</h1></div>
<hr>
<div style="margin-bottom: 50px "><h3>Что мы делаем?</h3></div>
<div style="margin-bottom: 50px ">
<h5 style="margin-bottom: 20px ">Мы выступаем посредником между вами и компанией Zenimax Online.
    По вашему поручению и за ваш счет мы приобретаем кроны у Zenimax Online,
    покупаем за них необходимые игровые предметы и отправляем вам эти предметы внутриигровым подарком.</h5>
<h5 style="margin-bottom: 20px ">Мы продаём ключи к главе Некром, игровые предметы,
    Стим — аккаунты с подпиской для игры The Elder Scrolls Online,
    отправляем разные игры подарком в Стим на ру-аккаунты.</h5>
<h5 style="margin-bottom: 20px ">Мы работаем с серверами пк — европа (eu) и америка (na).
    Не имеет значения, играете ли вы с лаунчера тесо,
    стима или эпик геймс — вы в любом случае сможете получить ваш заказ.</h5>
</div>
<div style="margin-bottom: 50px "><h3>Рабочее время</h3></div>
<h5 style="margin-bottom: 20px ">Мы работаем каждый день с 9-00 до 21-00 по Москве.
    Зачастую мы можем выполнить заказ и в не рабочие часы.</h5>
<h5 style="margin-bottom: 40px ">Заказы выполняются от 15 минут до 24 часов</h5>
<div style="margin-bottom: 50px "><h3>Контакты</h3></div>
<h5 style="margin-bottom: 20px ">По почте: oleg-14317@mail.ru</h5>
{% endblock %}