{% extends 'main/base.html' %}

{% block hat %}
<div style="margin-bottom: 60px "><h1>Помощь и вопросы</h1></div>
<hr>
<div style="margin-bottom: 50px "><h3>Как оформить заказ?</h3></div>

<div style="margin-bottom: 50px ">
<h5 style="margin-bottom: 40px ">Добавьте нужный товар в корзину, оформите заказ:
    укажите сервер и игровой ID — ваш или человека,
    которому вы хотите сделать подарок, произведите оплату.
    После этого вы получите письмо с информацией о заказе на указанную электронную почту.</h5>
<div style="margin-bottom: 50px "><h3>Что такое ID и где мне его посмотреть?</h3></div>

<h5 style="margin-bottom: 20px ">ID — это уникальный идентификатор игрока в игре.
Находясь в игре, откройте вкладку ДРУЗЬЯ (по умолчанию кнопка «Щ» в русскоязычной раскладке).
Вы увидите список ваших друзей, в верхнем левом углу которого будет указан ваш ID игрока</h5>
<figure class="wp-block-image size-full is-resized">
    <img fetchpriority="high" decoding="async" width="680" height="100"
         src="static/main/images/ElderFriend.jpg"
         alt="ElderFriend" class="wp-image-2418"
         sizes="(max-width: 702px) 100vw, 702px">
</figure>
<h5 style="margin-bottom: 20px ">Внимательно продублируйте его в соответствующее поле в вашем заказе,
    если вы делаете покупку для себя.</h5>
</div>
<div style="margin-bottom: 50px "><h3>Если же вы хотите сделать подарок кому-то другому:</h3></div>
<h5 style="margin-bottom: 20px ">Лучше уточнить у этого человека его ID.
Либо, если он находится в вашем списке друзей, можно посмотреть самостоятельно.
Если вы хотите в точности скопировать айди человека, которому хотите сделать подарок
    (например, чтоб не спутать буквы l и I):</h5>
<h5 style="margin-bottom: 10px ">1. Кликните правой кнопкой мыши в списке друзей в игре на нужный ID</h5>
<h5 style="margin-bottom: 10px ">2. Выберите «Отправить письмо»</h5>
<h5 style="margin-bottom: 10px ">3. Выделите ID в поле получателя и скопируйте сочетанием клавиш «ctrl»+«c»</h5>
<h5 style="margin-bottom: 40px ">4. Вставьте ID в форму заказа на сайте сочетанием клавиш «ctrl»+«v»</h5>

<div style="margin-bottom: 60px "><h1>Доставка и оплата</h1></div>
<div style="margin-bottom: 50px "><h3>Как оформить заказ?</h3></div>

<h5 style="margin-bottom: 20px ">Кронные товары доставляются внутриигровым подарком на указанный при заказе айди.
    Не обязательно быть в игре в момент отправки заказа, вы можете забрать подарок позже,
    но обязательно в течение 14 дней.</h5>
<h5 style="margin-bottom: 60px ">Ключи к главам доставляются на указанную при заказе почту.
    Если вы по какой-то причине не имеете доступа к указанной почте, обратитесь в чат на сайте.</h5>
<div style="margin-bottom: 50px "><h3>Рабочее время</h3></div>
<h5 style="margin-bottom: 20px ">Мы работаем каждый день с 9-00 до 21-00 по Москве.
    Зачастую мы можем выполнить заказ и в не рабочие часы.</h5>
<h5 style="margin-bottom: 40px ">Заказы выполняются от 15 минут до 24 часов</h5>

<div style="margin-bottom: 40px "><h1>Оплата</h1></div>
<figure class="wp-block-image size-full is-resized">
    <img fetchpriority="high" decoding="async" width="702" height="86"
         src="https://www.nirn.store/wp-content/uploads/2021/11/02222.png"
         alt="QIWI" class="wp-image-2418" style="width:509px;height:62px"
         srcset="https://www.nirn.store/wp-content/uploads/2021/11/02222.png 702w,
         https://www.nirn.store/wp-content/uploads/2021/11/02222-416x51.png 416w,
         https://www.nirn.store/wp-content/uploads/2021/11/02222-300x37.png 300w"
         sizes="(max-width: 702px) 100vw, 702px">
</figure>
<h5 style="margin-bottom: 40px ">Приём платежей совершаемых при помощи VISA, MasterCard, MIR,
    Система быстрых переводов.</h5>

<div style="margin-bottom: 60px "><h1>Отмена и возвраты</h1></div>
<h5 style="margin-bottom: 20px ">Заказ считается выполненным (услуга оказанной)
    после отправки заказанных предметов/ценностей в игре.</h5>
<h5 style="margin-bottom: 20px ">Оказанная (выполненная) услуга отмене и возврату не подлежит.
    Если по каким-либо причинам заказ не выполнен в течении 24-х часов,
    клиент вправе потребовать возврат уплаченных средств в полном объеме.</h5>
<h5 style="margin-bottom: 20px ">Если вы обнаружили, что заказали неверный товар,
    то не принимайте подарок в игре, напишите нам и договоритесь об обмене на другой товар.</h5>
<h5 style="margin-bottom: 20px ">Если вы обнаружили, что заказали товар на неверный айди,
    то сразу напишите в чат на сайте и сообщите об ошибке.
    Если заказ уже выполнен и товар отправлен на неверный айди, владельца которого вы не знаете,
    то, к сожалению, деньги за него вернуть нельзя, так как кроны уже потрачены.
    Если же вы знаете владельца айди, можете попробовать договориться с ним, чтоб он вернул подарок,
    тогда мы переотправим его на верный айди.</h5>
<h5 style="margin-bottom: 40px ">Подарок должен быть принят ОБЯЗАТЕЛЬНО в течение 14 дней с момента отправки
    (выполнения заказа на сайте), иначе он УДАЛИТСЯ у получателя.
Мы не возвращаем деньги за непринятый вовремя подарок.</h5>

<div style="margin-bottom: 60px "><h1>Как получить заказ?</h1></div>
<h5 style="margin-bottom: 20px ">Ключи к главам и прочим предметам отправляются на указанную вами при заказе почту.
    Если вы ошиблись в написании почты или не имеете доступа к своей почте,
    напишите в чат на сайте и мы передадим ключ напрямую.</h5>
<h5 style="margin-bottom: 20px ">Внутриигровые товары и золото отправляются через почту в игре.
    Откройте почту в игре (кнопка Э по умолчанию) и примите письмо с вложением.
    Сделать это надо в течение 30 дней, иначе письмо исчезнет.</h5>
<h5 style="margin-bottom: 40px ">Если вы покупаете уже готовый стим аккаунт,
    мы связываемся с вами в чате на сайте или по почте и переоформляем аккаунт на ваши данные.</h5>

<div style="margin-bottom: 50px "><h3>Мне отправили кронный товар. Где я могу его найти в игре?</h3></div>
<h5 style="margin-bottom: 20px ">Товар доставляется подарком в игре на указанный при заказе айди.</h5>
<h5 style="margin-bottom: 20px ">Обычно уведомление о подарке появляется посередине экрана,
    вам надо лишь нажать клавишу «А» в русскоязычной раскладке, чтоб просмотреть подарок и принять его.</h5>
<figure class="wp-block-image size-full is-resized">
    <img fetchpriority="high" decoding="async" width="680" height="279"
         src="static/main/images/ElderOpen.jpg"
         alt="ElderOpen" class="wp-image-2418"
         sizes="(max-width: 702px) 100vw, 702px">
</figure>
<h5 style="margin-bottom: 20px ">Иногда это уведомление может не появиться или если вы его случайно скрыли,
    тогда нужно открыть КРОННЫЙ МАГАЗИН (по умолчанию кнопка «Б» в русскоязычной раскладке),
    затем вкладку ИНВЕНТАРЬ ПОДАРКОВ (смотрите скриншот ниже).</h5>
<figure class="wp-block-image size-full is-resized">
    <img fetchpriority="high" decoding="async" width="680" height="215"
         src= "static/main/images/ElderCrate.jpg"
         alt="ElderCrate" class="wp-image-2418"
         sizes="(max-width: 702px) 100vw, 702px">
</figure>
<h5 style="margin-bottom: 40px ">Во вкладке ПОЛУЧЕННЫЕ кликнуть на подарок и принять его.
    Если вы не видите подарок в ИНВЕНТАРЕ ПОДАРКОВ, хотя вам пришло письмо о выполнении заказа,
    вам необходимо полностью выйти из игры и зайти заново.</h5>
{% endblock %}
